* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #000;
}

.container {
    background-color: antiquewhite;
    padding: 455px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#button-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

#results{
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
    background-color: brown;
    color: white;
    border-radius: 50px;
    padding: 20px 50px;
}

#btnImg {
    padding: 50px 20px;
    display: flex;
}